<footer>
    <p class="qoute-text">"I do not think that there is any other quality so essential to success of any kind as the
    quality of perseverance. It overcomes almost everything, even nature."<span class="qoute">- John D. Rockefeller</span></p>
    <div class="bottom-right">
        <p class="credits">© 2018. Designed and coded by Asim Zaidi</p>
        <ul class="hover_kids fade">
            <a href="href="mailto:asimzaidih@gmail.com.com?Subject=Reaching%20Out"" target="_top"><li><i class="fas fa-envelope"></i></li></a>
            <a href="http://www.linkedin.com/in/zaidiasim" target="_onblank"><li><i class="fab fa-linkedin"></i></li></a>
            <a href="https://www.github.com/awesomezaidi" target="_onblank"><li><i class="fab fa-github"></i></li></a>
            <a href="http://www.medium.com/@asimzaidi" target="_blank"><li><i class="fab fa-medium-m"></i></li></a>
            <a href="http://www.twitter.com/theasimzaidi" target="_blank"><li><i class="fab fa-twitter"></i></li></a>
        </ul>
    </div>
</footer>
