<footer>
    <p class="qoute-text">"I do not think that there is any other quality so essential to success of any kind as the
    quality of perseverance. It overcomes almost everything, even nature."<span class="qoute">- John D. Rockefeller</span></p>
    <div class="bottom-right">
        <p class="credits">© 2018. Designed and coded by Asim Zaidi</p>
        <ul class="hover_kids fade">
            <li><i class="fas fa-envelope"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-github"></i></li>
            <li><i class="fab fa-medium-m"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </div>
</footer>
