<header>
    <div class="left">
        <a class="header-text"><p>Home</p></a>
        <a class="header-text"><p>Projects</p></a>
        <a class="header-text"><p>Resume</p></a>
        <a class="header-text" href="https://github.com/AwesomeZaidi/Asim-Zaidi-Website" target="_onblank"><p>How this was built?</p></a>
    </div>
   <div class="right">
            <a><i class="icon hover fab fa-linkedin"></i></a>
            <a><i class="icon hover fab fa-github"></i></a>
            <a><i class="icon hover fab fa-medium"></i></a>
            <a><i class="icon hover fab fa-instagram"></i></a>
            <a><i class="icon hover fas fa-envelope"></i></a>
   </div>

</header>