        <main>
            <section class="landing">
                <div class="main-content">
                    <div class='top-down-center'>
                        <img class='asim-avatar' src='/assets/my-anime.svg'>
                        <h1 class='h1_primary'>ASIM! 🖤💻🤘🏼</h1>
                        <h1 class='h1_secondary'>Software Engineer</h1>
                    </div>
                    <p class="brief-bio">
                        <strong>Recently, I...</strong>
                    </p>
                    <p class="brief-bio">
                        Launched a company and graduated from an early startup accelerator
                    </p>
                    <p class="brief-bio">
                        Published an article, What is Recursion?
                    </p>
                    <p class="brief-bio">
                        Started managing Oakland rapper Sad Boy KJ
                    </p>

                   <center><img class='github-graph' src="http://ghchart.rshah.org/awesomezaidi" alt="Asim's Github chart" /></center>
                    
                    <h1>Check out how much I've been coding this week👨‍💻 </h1>
                    <center><figure class='waka-graph'><embed src="https://wakatime.com/share/@asim/9502838a-b928-488e-a8dd-5843d485f8f6.svg"></embed></figure></center>
                    {{!-- <p class="center_text">View my work</p> --}}
                    <i class="fas fa-chevron-circle-down hover"></i>
                </div>
            </section>
            <div class="projects-section">
                <h1 class='section-title'>My Products</h1>
                
                {{!-- PROJECT 1 --}}
                <div class="project-container slide-left">
                    <div class="project-about">
                        <h1 class='title_center'><em>Clubs App</em></h1>
                        <p class='project-bio_left'>The Clubs App is now being beta tested by an entire college in San Francisco
                            and officially launching for many schools to use in Fall 2019. This single page application was designed,
                            developed, unit and integration tested deployed and user tested by myself.
                        </p>
                        <p class='project-bio_left'>
                            In the app you can either be a Member, Leader or School Admins. Leaders can start clubs and post events
                            and manage their presence. Members can easily sort through, join and leave clubs and events.
                            Adminis are given analytics
                        </p>  
                        <p class='project-tech_left'>
                            How was this built? <em>React, EcmaScript 6, Redux, Thunk, Axios, JSX, Scss, OOCSS3, Seperation of Concerns, Sketch Designs, MongoDB, RoboT3, Mongoose, Heroku, MLab, NodeJS, ExpressJS, MVC, Express Router, JWT Authentication, Mocha, Chai, Cypress, LottieFiles, npm, VS Code, GitHub, Feature Branching</em>
                        </p>
                        <button class='project-btn hover'>Check it out</button>
                    </div>     
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/clubsapp.png" alt="Clubs App Demo" srcset="">
                    </div>        
                </div>
                
                {{!-- PROJECT 2 --}}
                <div class="project-container slide-left">
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/digitalmenu.png" alt="Clubs App Demo" srcset="">
                    </div>     
                    <div class="project-about">
                        <h1 class='title_center'><em>Digital Menu</em></h1>
                        <p class='project-bio_right'>
                            Online database menu management for restaurants. Restaurant chains can have several locations each with different GrubHub,
                            Uber Eats, Postmates etc online menus and when they have a company meeting and decide on a price change they have to update
                            a ton of excel sheets manually for each of those services leading to incorrect prices we see listed all the time.
                        </p>
                        <p class='project-bio_right'>
                        Digital Menu allows restaurant owners to update all their locations menues items in an easy to use dashboard and all those
                            other services simply make API calls to unique endpoints we provide saving everyone time and money.
                        </p>
                        <p class='project-tech_right'>
                            How was this built? <em>My partner built the back end Node API that fed to my React & Redux front end. I wrote a CSS library to speed future development here as well.</em>
                        </p>
                        <button class='project-btn hover'>Check it out</button>
                    </div>        
                </div>
                
                {{!-- PROJECT 3 --}}
                <div class="project-container slide-left">
                    <div class="project-about">
                        <h1 class='title_center'><em>Tech Made</em></h1>
                        <p class='project-bio_left'>Tech Made is a web agency that creates unique experiences for influencers and creatives. 
                            We've worked with rappers, chefs, dog trainers and more. The team consists of a product designer, front end engineer, and full stack developer.
                            Over the past 6 months, we've generated over $10,000 and each of our clients have referred a new client.
                        </p>
                        <p class='project-bio_left'>
                        I developed the visual project tracking dashboard that allows clients to visualize where the project is at as well as
                            communicate updates, feedback, documents, and request timely payments. Our in house content management system is currently under development so stay tuned! 
                        </p>
                        <p class='project-tech_left'>
                            How was this built? <em>React, EcmaScript 6, Redux, MongoDB, NodeJS, ExpressJS, Thunk, Axios, JSX, Scss, OOCSS3, Seperation of Concerns, Sketch Designs, RoboT3, Mongoose, Heroku, MLab, MVC, Express Router, JWT Authentication, Mocha, Chai, Cypress, LottieFiles, npm, VS Code, GitHub, Individual Branching</em>
                        </p>
                        <button class='project-btn hover'>Check it out</button>
                    </div>     
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/techmade.png" alt="Clubs App Demo" srcset="">
                    </div>        
                </div>

                {{!-- PROJECT 4 --}}
                <div class="project-container slide-left">
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/bondfire.gif" alt="Clubs App Demo" srcset="">
                    </div>     
                    <div class="project-about">
                        <h1 class='title_center'><em>Bondfire</em></h1>
                        {{!-- <p class='project-bio_right'>
                            
                        </p> --}}
                        <p class='project-bio_right'>
                        Bondfire is an app that allows artists to create meaningful experiences with their fans by schedule unique and secure on-demand meetups.
                        Through the app, artists can create events and sell tickets to fans. Where we shine is working with partner locations to allow to reserve
                        a space at a venue on the fly for free enabling us to take care of all the security and logistics of the event.
                        All the artist has to do is fill out a form and show up, we make it that easy.
                        </p>
                        <p class='project-bio_right'>
                        I started this project at a Google Startupathon hackathon where we won, later I continued user interviewing artists and decided to pursue the idea.
                        I found a teammate to help me pick up the back end skills as I did all the front end design and development as well as leading the busines development, sales and marketing.
                        We were accepted into the 2018 Future Founders Residency, worked out of the 1871 startup incubator and were apart of MIT's latest nationwide startup year long research.
                        </p>
                        <p class='project-tech_right'>
                            How was this built? <em>JavaScript, Firebase, HTML/CSS, Scss, Bootstrap, Pub, jQuery, OAuth, Stripe, Send Grid, Cloud Functions.</em>
                        </p>
                        
                        <button class='project-btn hover'>Check it out</button>
                    </div>        
                </div>

                {{!-- PROJECT 5 --}}
                <div class="project-container slide-left">
                    <div class="project-about">
                        <h1 class='title_center'><em>Voters Guide</em></h1>
                        <p class='project-bio_left'>
                            Voters Guide is an app that allows users to easily view, save and share votes for your local cities propositions
                            easier than ever. This product idea came about just a few weeks before electionsso we followed a lean kanban
                            development methodology for sprinting. My teammate was a former Product Manager at YC company for 6 years so I gained
                            a lot of his PM insights working side by side. We're partnering with SF based startup, WeVote, to use their data set
                            and bring our product to the entire nation before next elections.
                        </p>
                        <p class='project-bio_left'>
                        I developed the visual project tracking dashboard that allows clients to visualize where the project is at as well as
                            communicate updates, feedback, documents, and request timely payments. Our in house content management system is currently under development so stay tuned! 
                        </p>
                        <p class='project-tech_left'>
                            How was this built? <em>Node JS, Express.js, MLab (MongoDB), Session Based Authentication, vanilla JavaScript, Mocha, Chai, HTML5/CSS3, jQuery</em>
                        </p>
                        <button class='project-btn hover'>Check it out</button>
                    </div>     
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/votersguide.png" alt="Clubs App Demo" srcset="">
                    </div>        
                </div>

                {{!-- PROJECT 6 --}}
                <div class="project-container slide-left">
                    <div class="project-demo">
                        <img class='project-asset'src="./assets/bondfire.gif" alt="Clubs App Demo" srcset="">
                    </div>     
                    <div class="project-about">
                        <h1 class='title_center'><em>Until After</em></h1>
                        <p class='project-bio_right'>
                            Beautiful private journal that can unlock when you die. Keep track of your lifes emotions and experiences trajectory easier than ever.
                            Want to learn the full story behind this crazy idea, visit my pre launch site at <a href='https://untilafter.life'>https://untilafter.life</a>
                        </p>
                        <p class='project-bio_right'>
                            This project was designed and developed by myself from ideation to unit testing and production. I took inspiration on the design from the iPhone Notes App
                            because after lots of user testing I found that is the most commonly used and most accessible note taking app which is what I needed if I wanted people to use the app.
                        </p>
                        <p class='project-tech_right'>
                            How was this built? <em>JavaScript, Twilio API, Stripe API, SendGrid API, Node, Express, MongoDB/Mongoose, Axios, jQuery, HTML5, SCSS, CSS3.</em>
                        </p>
                        
                        <button class='project-btn hover'>Check it out</button>
                    </div>   
                </div>

            </div>

        </main>