<main>
    <section class="landing-container">
        <div class="name-box">
            <h1>Asim Zaidi</h1>
            <ul class="links">
            <li><i class="fas fa-envelope"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-github"></i></li>
            </ul>
        </div>
        <i class="fas fa-chevron-circle-down hover" href="#projects-container"></i>
    </section>
    <section class="projects-container">
        <h2>LATEST PROJECTS</h2>
        <ul class="project-list">
            <li href="">Bondfire</li>
            <li href="">Voters Guide</li>
            <li href="">Higher Hires</li>
        </ul>
        <button class="project-more-btn">VIEW MORE ></button>
    </section>
    <section class="bio-container">
        <p>Right now, I'm studying Computer Science at Make School (YC/Accredited/Not a bootcamp).
            I just left University of Illinois and here's why. I'm currently exploring passion projects 
            and searching for a 2018 summer software engineering internship. But there's more to know about me so...
        </p>
        <p>What do you want to know about me?</p>
    </section>
    <section class="contact-container">
        <img class="contact-img"src="/assets/avatar_v2.jpg" alt="Asim Zaidi">
        <h2>Reach Out</h2>
    </section>
</main>