<main>
    <section class="landing-container">
        <div class="center-wrapper">
            <div class="name-box">
                <h1>Asim Zaidi</h1>
                <i class="icon fas fa-envelope"></i>
                <i class="icon fab fa-linkedin"></i>
                <i class="icon fab fa-github"></i>
            </div>
            {{!-- <i class="scroll-down fas fa-chevron-circle-down hover" href="#projects-container"></i> --}}
        </div>
    </section>
    <section class="projects-container">
        <h2>LATEST PROJECTS</h2>
        <div class="projects-container">
            <img class="project-icon vote" src="/assets/vote.gif" alt="">
            <img class="project-icon hired" src="/assets/hired.png" alt="">
            <img class="project-icon bonfire" src="/assets/hired.png" alt="">
        </div>
        <button class="project-more-btn">VIEW MORE ></button>
    </section>
    <section class="bio-container">
        <p>Right now, I'm studying Computer Science at Make School (YC/Accredited/Not a bootcamp).
            I just left University of Illinois and here's why. I'm currently exploring passion projects 
            and searching for a 2018 summer software engineering internship. But there's more to know about me so...
        </p>
        <p>What do you want to know about me?</p>
    </section>
    <section class="contact-container">
        <img class="contact-img"src="/assets/avatar_v2.jpg" alt="Asim Zaidi">
        <h2>Reach Out</h2>
    </section>
</main>