@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-size: 14px;
  padding: 0 auto;
  margin: 0 auto; }

header {
  display: flex;
  justify-content: flex-end;
  background-color: #141c3a; }
  header p {
    font-family: Helvetica;
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
    margin-right: 25px;
    font-size: 1em;
    font-family: "Montserrat", serif;
    letter-spacing: .1em; }

main {
  padding: 50px 0px 30px 0px;
  background-color: #141c3a;
  color: #f4f4f4; }
  main ul {
    display: flex;
    list-style: none; }
  main .landing {
    display: flex; }
    main .landing .main-content {
      padding: 0px 70px 0px 100px;
      display: inline;
      text-align: left;
      font-family: "Montserrat", serif;
      font-size: 1em; }
      main .landing .main-content h1 {
        line-height: .8em;
        font-size: 3em;
        font-weight: 900; }
      main .landing .main-content .brief-bio {
        line-height: 2em;
        font-size: 1.6em; }
      main .landing .main-content .project-container {
        padding: 0;
        flex-direction: column;
        letter-spacing: .1em;
        width: 25em; }
        main .landing .main-content .project-container .title {
          font-family: "Montserrat", serif;
          font-weight: 900;
          line-height: 3.5em;
          border-bottom: none; }
        main .landing .main-content .project-container .title:hover {
          background-color: transparent; }
        main .landing .main-content .project-container li {
          font-family: sans-serif;
          line-height: 1.5em;
          border-bottom: .1em solid; }
        main .landing .main-content .project-container li:hover {
          background-color: #2341AD; }
    main .landing .side-content {
      text-align: center;
      margin-right: 140px;
      min-width: 395px; }
      main .landing .side-content img {
        width: 350px;
        border-radius: 50%; }
      main .landing .side-content img:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 50px solid white;
        border-left: 80px solid blue;
        width: 0; }
      main .landing .side-content h1 {
        font-family: PokemonGB; }
      main .landing .side-content ul {
        padding: 5px;
        justify-content: space-evenly; }
        main .landing .side-content ul li {
          font-size: 3em; }
        main .landing .side-content ul li:hover {
          color: #ffc740; }
      main .landing .side-content .resume {
        background-color: transparent;
        color: #fff;
        padding: .5em 2em;
        font-size: 1.3em;
        border: .1em solid;
        border-radius: 4px; }
  main .fa-chevron-circle-down {
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 130px; }
  main .resume-section {
    padding: 130px 0px 130px 0px;
    background-color: #15141f;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", serif; }
    main .resume-section h1 {
      margin: 0px 0px 15px 0px;
      font-size: 34px; }
    main .resume-section .resume-pdf {
      min-height: 690px;
      min-width: 600px; }

@font-face {
  font-family: 'PokemonGB';
  src: url("/assets/fonts/pokemon-font/PokemonGB.ttf");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=styles.css.map */
