$bg: #141c3a;
$primary: #488aff;
$secondary: #32db64;
$danger: #fa4359;
$light: #f4f4f4;
$dark: #222;
$verydark: #15141f;
$purple: #6400e4;
$mint: #6df0c2;
$yellow: #ffc740;
$lightgray: #2341AD;

$textfont: 'Montserrat', serif;
