body {
    font-size: 14px;
    padding: 0 auto;
    margin: 0 auto;
    background-color: $bg;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: $bg;
    p {
        font-family: Helvetica;
        background-color: transparent;
        color: #fff;
        padding: 10px 10px;
        margin-right: 25px;
        font-size: 1em;
        font-family: $textfont;
        letter-spacing: .1em;
    }
}

@include phone {
    footer {
        display: flex;
        flex-direction: column;
        margin: 5em 1.2em;        
        letter-spacing: 1px;
        line-height: 1.5em;
        color: $light;
        font-family: $textfont;
        .credits {
            text-align: center;
            margin-top: 3.5em;
        }
        ul {
            display: flex;
            margin: 1em 3em;
            align-items: center;
            justify-content: space-between;
            padding-left: 0;
            color: $fadelight;
            font-size: 1.5em;
            list-style: none;
            text-align: center;
        }
    }
}

@include tablet {
    footer {
        margin: 5em 6em;
        ul {
            justify-content: space-evenly;
            font-size: 2em;
            margin: 0 auto;  
        }
    }
}
@include desktop {
    footer {
        flex-direction: row;
        margin: 5em 6em;
        .qoute-text {
            margin-right: 7em;
        }
        .credits {
            text-align: left;
            margin: auto;
        }
        ul {
            font-size: 2em;
            margin: 1em 0;
            justify-content: space-around;  

        }
    }
}
// Class Styles

.hover_kids > *, .hover {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.qoute {
    font-style: italic;
    opacity: 0.3;
}