html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    padding: 0 auto;
    margin: 0 auto;
    background-color: $bg;   
}

h1 {
    color: #282828;
}

i:hover, a:hover {
    cursor: pointer;
}


// COMPONENT LAYOUTS
.top-down-center {
    display: flex;
    flex-direction: column;
    align-content: center;
}


// ONE OFF THINGS
.github-graph {
    margin: 1em auto 3em auto; 
    max-width: 80vw;
}

.icon {
    font-size: 2em;
    margin: 0 .6em;
}

.icon:hover {
    color: $yellow;
}

.center_text {
    text-align: center;
    font-size: 1.4em;
    margin: 0.5em 0em;
    padding: 0em 2em;
}

footer {
    font-family: $textfont;
    background-color: #1a1a1a;
    color: #fff;
    ul a {
        color: #fff !important;
        text-decoration-style: none;
    }
}


@include phone {
    footer {
        display: flex;
        flex-direction: column;
        padding: 5em 1.2em;        
        letter-spacing: 1px;
        line-height: 1.5em;
        font-family: $textfont;
        .credits {
            text-align: center;
            margin-top: 3.5em;
        }
        ul {
            display: flex;
            margin: 1em 3em;
            align-items: center;
            justify-content: space-between;
            padding-left: 0;
            color: $fadelight;
            font-size: 1.5em;
            list-style: none;
            text-align: center;
        }
    }
    .waka-graph {
        // margin: 1em auto 2em auto; 
        max-width: 92vw;
    }
}

@include tablet {
    footer {
        display: flex;
        flex-direction: row;
        padding: 5em 6em;        
        letter-spacing: 1px;
        line-height: 1.5em;
        // color: $text;
        font-family: $textfont;
        .credits {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
        ul {
            display: flex;
            margin: 0em 3em;
            align-items: center;
            justify-content: space-between;
            color: $text;
            font-size: 1.5em;
            list-style: none;
            text-align: center;
        }
        ul > * {
            margin: auto .2em;
        }
    }
        .qoute-text {
            font-size: 1.2em;
            margin-right: 7em;
        }
        .credits {
            font-size: 1.2em;
            text-align: left;
            margin: auto;
        }
    //     ul {
    //         font-size: 2em;
    //         margin: 1em 0;
    //         justify-content: space-around;  

    //     }
    // }
    ul {
        justify-content: space-evenly;
        font-size: 2em;
        margin: 0 auto;  
    }
}

@include desktop {
    .navbar {
        background-color: #1a1a1a;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 10;
        a {
            color: #fff;
        }
    }
    nav ul {
        margin: 0em;
    }
    footer {
        display: flex;
        flex-direction: row;
        padding: 5em 6em;        
        letter-spacing: 1px;
        line-height: 1.5em;
        // color: $text;
        font-family: $textfont;
        .credits {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
        ul {
            display: flex;
            margin: 0em 3em;
            align-items: center;
            justify-content: space-between;
            color: $text;
            font-size: 1.5em;
            list-style: none;
            text-align: center;
        }
        ul > * {
            margin: auto .2em;
        }
    }
        .qoute-text {
            font-size: 1.2em;
            margin-right: 7em;
        }
        .credits {
            font-size: 1.2em;
            text-align: left;
            margin: auto;
        }
    //     ul {
    //         font-size: 2em;
    //         margin: 1em 0;
    //         justify-content: space-around;  

    //     }
    // }
    .waka-graph {
        // margin: 1em auto 2em auto; 
        max-width: 80vw;
        max-width: 42em;
        margin: 0 auto 5em auto;
    }
}
// Class Styles

.hover_kids > *, .hover {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.qoute {
    font-style: italic;
    opacity: 0.3;
}

a {
    text-decoration: none;
}

.blue {
    color: #1878FB;
}

.bluebg {
    background-color: #1878FB;
}

.green {
    color: #27BB21;
}

.greenbg {
    background-color: #27BB21;
}


.orange {
    color: #FF7700;
}

.orangebg {
    background-color: #FF7700;
}


.tech-text {
    font-size: 1.2em;
    font-style: italic;
}
