main {
    @include phone {
        display: flex;
        flex-direction: column;
        text-align: center;
        section.landing-container {
            background-image: url(../assets/asim.png);
            background-size: cover;
            .name-box {
                font-family: $textfont;
                padding: .7em 0em;
                max-width: 160px;
                margin: 9em auto 4em;
                border-radius: .5em;
                background-color: #ffffff62;
                color: $verydark;
                h1 {
                    font-size: xx-large;
                    margin: 0;
                }
                .icon {
                    padding: 0em 0.3em;
                    font-size: 1.4em;
                }
            }
            .fa-chevron-circle-down {
                font-size: 2em;
                color: $light;
            }
        }
        section.projects-container {
            background-color: #E53D32;
            h2 {
                margin-top: 1em;
                font-size: x-large;
                font-family: $textfont;
                color: $light;
                text-align: center;
                display: inline-block;
            }
            .project-icon {
                display: inline;
                max-height: 3em;
                padding: 0em 1em;
            }
            button {
                margin-top: 1em;
                background-color: $light;
                border: none;
                border-radius: .3em;
                padding: .4em 1em;
            }
        }
            .project-more-btn {
                background-color: white;
            }
        section.bio-container {
            color: $light;
        }
        section.contact-container {
            img.contact-img {
                float: left;
                max-width: 100px;
            }
        }
    }
    @include tablet {
         .landing {
             .side-content {
                 img {
                    min-width: 230px;
                 }
                 h1 {
                     font-size: 2em;
                 }
                 ul {
                     li {
                         font-size: 2.4em;
                     }
                 }
             }
             .main-content {
                font-size: 1.0em;
                 margin: 0em 4em;
                 .project-container {
                    margin: 0em 8em;
                 }
             }
         }
         .resume-section {
             .resume-pdf {
                min-height: 700px;
                min-width: 600px;
             }
         }
    }
    @include desktop {
        // we'd like to add padding around the string so that elements don't touch the edges.
        padding: 20px 0px;
        .landing {
            flex-direction: row;
            margin-bottom: 3.4em;
            .main-content {
                padding: 0px 70px 0px 100px;
                text-align: left;
                font-family: $textfont;
                h1 {
                    display: unset;
                    font-size: 3em;
                }
                .brief-bio {
                    line-height: 2em;
                    font-size: 1.6em;
                }
                .project-container {
                    margin: 0;
                    flex-direction: column;
                    letter-spacing: .1em;
                    width: 25em;
                    font-size: 1.3em;
                    .title {
                        font-family: $textfont;
                        font-weight: 900;
                        line-height: 3.5em;
                        border-bottom: none;
                    }
                    .title:hover {
                        background-color: transparent;
                    }
                    li {
                        font-family: sans-serif;
                        line-height: 1.5em;
                        border-bottom: .1em solid;
                    }
                }
            }
            .side-content {
                text-align: center;
                margin-right: 140px;
                min-width: 395px;
                img {
                    width: 350px;
                    border-radius: 50%;
                }
                h1 {
                    font-family: PokemonGB;
                }
                ul {
                    // this padding will overrite inherit padding that pushes content to the right and not centered.
                    padding: 5px;
                    justify-content: space-evenly;
                    li {
                        font-size: 3em;
                    }
                }
                .resume {
                    background-color: transparent;
                    color: #fff;
                    padding: .5em 2em;
                    font-size: 1.3em;
                    border: .1em solid;
                    border-radius: 4px;
                }
            }

        }
        .fa-chevron-circle-down {
            display: block;
            margin: 0 auto;
            font-size: 36px;
            text-align: center;
        }
        .resume-section {
            padding: 130px 0px 130px 0px;
            background-color: $verydark;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $textfont;
            h1 {
                margin: 0px 0px 15px 0px;
                font-size: 34px;
            }
            .resume-pdf {
                min-height: 690px;
                min-width: 600px;
            }
        }
    }
}
