@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'PokemonGB';
  src: url("/assets/fonts/pokemon-font/PokemonGB.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: var(--color-red); }

body {
  font-size: 14px;
  padding: 0 auto;
  margin: 0 auto;
  background-color: #141c3a; }

header {
  display: flex;
  justify-content: flex-end;
  background-color: #141c3a; }
  header p {
    font-family: Helvetica;
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
    margin-right: 25px;
    font-size: 1em;
    font-family: "Montserrat", serif;
    letter-spacing: .1em; }

@media (min-width: 310px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 5em 1.2em;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: #f4f4f4;
    font-family: "Montserrat", serif; }
    footer .credits {
      text-align: center;
      margin-top: 3.5em; }
    footer ul {
      display: flex;
      margin: 1em 3em;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      color: rgba(210, 209, 209, 0.968);
      font-size: 1.5em;
      list-style: none;
      text-align: center; } }
@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    margin: 5em 6em; }
    footer ul {
      justify-content: space-evenly;
      font-size: 2em;
      margin: 0 auto; } }
@media (min-width: 1200px) {
  footer {
    flex-direction: row;
    margin: 5em 6em; }
    footer .qoute-text {
      margin-right: 7em; }
    footer .credits {
      text-align: left;
      margin: auto; }
    footer ul {
      font-size: 2em;
      margin: 1em 0;
      justify-content: space-around; } }
.hover_kids > *, .hover {
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.qoute {
  font-style: italic;
  opacity: 0.3; }

@media (min-width: 310px) {
  main {
    margin: 2.4em 0em;
    background-color: #141c3a;
    color: #f4f4f4; }
    main ul {
      display: flex;
      list-style: none; }
    main .landing {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      margin: 0em 1em; }
      main .landing .side-content {
        margin-bottom: 1.4em; }
        main .landing .side-content img {
          width: 184px;
          border-radius: 50%; }
        main .landing .side-content h1 {
          font-size: 1.4em;
          font-family: PokemonGB; }
        main .landing .side-content ul {
          padding: 5px;
          justify-content: space-evenly; }
          main .landing .side-content ul li {
            font-size: 2em; }
          main .landing .side-content ul li:hover {
            color: #ffc740; }
        main .landing .side-content .resume {
          background-color: transparent;
          color: #fff;
          padding: .5em 2em;
          font-size: 1.3em;
          border: .1em solid;
          border-radius: 4px; }
      main .landing .main-content {
        font-family: "Montserrat", serif;
        font-size: 0.8em; }
        main .landing .main-content h1 {
          display: none; }
        main .landing .main-content .brief-bio {
          line-height: 2em;
          font-size: 1.4em; }
        main .landing .main-content .project-container {
          padding: 0;
          margin: 0em 3em;
          flex-direction: column;
          letter-spacing: .1em;
          font-size: 1.4em; }
          main .landing .main-content .project-container .title {
            font-family: "Montserrat", serif;
            font-weight: 900;
            line-height: 3.5em;
            border-bottom: none; }
          main .landing .main-content .project-container .title:hover {
            background-color: transparent; }
          main .landing .main-content .project-container li {
            font-family: sans-serif;
            line-height: 1.5em;
            border-bottom: .1em solid; }
          main .landing .main-content .project-container li:hover {
            background-color: #2341AD; }
    main .fa-chevron-circle-down {
      display: none; }
    main .fa-chevron-circle-down:hover {
      color: #ffc740; }
    main .resume-section {
      padding: 2.5em 0em;
      background-color: #15141f;
      margin-top: 5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", serif; }
      main .resume-section .resume-pdf {
        min-height: 420px;
        max-width: 300px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  main .landing .side-content img {
    min-width: 230px; }
  main .landing .side-content h1 {
    font-size: 2em; }
  main .landing .side-content ul li {
    font-size: 2.4em; }
  main .landing .main-content {
    font-size: 1.0em;
    margin: 0em 4em; }
    main .landing .main-content .project-container {
      margin: 0em 8em; }
  main .resume-section .resume-pdf {
    min-height: 700px;
    min-width: 600px; } }
@media (min-width: 1200px) {
  main {
    padding: 20px 0px; }
    main .landing {
      flex-direction: row;
      margin-bottom: 3.4em; }
      main .landing .main-content {
        padding: 0px 70px 0px 100px;
        text-align: left;
        font-family: "Montserrat", serif; }
        main .landing .main-content h1 {
          display: unset;
          font-size: 3em; }
        main .landing .main-content .brief-bio {
          line-height: 2em;
          font-size: 1.6em; }
        main .landing .main-content .project-container {
          margin: 0;
          flex-direction: column;
          letter-spacing: .1em;
          width: 25em;
          font-size: 1.3em; }
          main .landing .main-content .project-container .title {
            font-family: "Montserrat", serif;
            font-weight: 900;
            line-height: 3.5em;
            border-bottom: none; }
          main .landing .main-content .project-container .title:hover {
            background-color: transparent; }
          main .landing .main-content .project-container li {
            font-family: sans-serif;
            line-height: 1.5em;
            border-bottom: .1em solid; }
      main .landing .side-content {
        text-align: center;
        margin-right: 140px;
        min-width: 395px; }
        main .landing .side-content img {
          width: 350px;
          border-radius: 50%; }
        main .landing .side-content h1 {
          font-family: PokemonGB; }
        main .landing .side-content ul {
          padding: 5px;
          justify-content: space-evenly; }
          main .landing .side-content ul li {
            font-size: 3em; }
        main .landing .side-content .resume {
          background-color: transparent;
          color: #fff;
          padding: .5em 2em;
          font-size: 1.3em;
          border: .1em solid;
          border-radius: 4px; }
    main .fa-chevron-circle-down {
      display: block;
      margin: 0 auto;
      font-size: 36px;
      text-align: center; }
    main .resume-section {
      padding: 130px 0px 130px 0px;
      background-color: #15141f;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", serif; }
      main .resume-section h1 {
        margin: 0px 0px 15px 0px;
        font-size: 34px; }
      main .resume-section .resume-pdf {
        min-height: 690px;
        min-width: 600px; } }

/*# sourceMappingURL=styles.css.map */
