$bg: #EBEFF3;
$primary: #CA1C1C;
$secondary: #4E00FF;
$danger: #fa4359;
$text: #4A4A4A;
$fadelight: rgba(210, 209, 209, 0.968);
$dark: #222;
$verydark: #15141f;
$purple: #6400e4;
$mint: #6df0c2;
$yellow: #ffc740;
$light: green;
$lightgray: green;

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('/assets/fonts/AvenirNext/AvenirNextLTPro-Bold.ttf');
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('/assets/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf');
}


$textfont: 'AvenirNext-Regular', serif;
$titlefont: 'AvenirNext-Bold', serif;


// scss variables required to be compiled before, css variables are made at root and can be used in
// javascript as well!
// :root {
//   --color-red: #f00;
// }
// Media Query Breakpoints mixins - screen size definitions

body {
  background-color: var(--color-red);
}

// Small tablets and large smartphones (landscape view)
$small-phone-width: 310px;

// Small tablets (portrait view)

$tablet-width: 768px;

// Large tablets and desktops
$desktop-width: 1100px;

// we will design for mobile first so only need to media query tablets and desktop views.
@mixin phone {
    @media (min-width: #{$small-phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
      }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }