//Import variables
@import "variables.scss";
//Import base website components
@import "components.scss";
// Import index styles
@import "index.scss";
// Import about styles
@import "about.scss";

// Importing Fonts
//Web Font
@font-face {
    font-family: 'PokemonGB';
    src: url('/assets/fonts/pokemon-font/PokemonGB.ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
